<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="http://livejs.com/live.js"></script>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
  <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <title>{{ pageTitle }}</title>
</head>
<body>

	<div class="page-wrapper chiller-theme">

		<button id="show-sidebar" class="btn btn-sm btn-dark">
			<i class="fas fa-bars"></i>
		</button>

		<nav id="sidebar" class="sidebar-wrapper">
			<div class="sidebar-content">
				<div class="sidebar-brand">
					<span>{{ chapterTitle }}</span>
					<div id="close-sidebar">
						<i class="fas fa-times"></i>
					</div>
				</div>


				<!-- sidebar-search  -->
				<div class="sidebar-menu">
					<ul>

						{{# each menu as | element | }}
								{{# if element.unique }}
									<li>
										<a href="{{element.pages.url}}">
											<i class="{{element.icon}}"></i>
											<span>{{element.title}}</span>
											{{!-- <span>{{element.pages.url}}</span> --}}
										</a>
									</li>
								{{ else }}
									<li class="sidebar-dropdown">
											<a>
												<i class="{{element.icon}}"></i>
												<span>{{element.title}}</span>
											</a>
											<div class="sidebar-submenu">
												<ul>
													{{# each element.pages as | page | }}
													<li>
														<a href="{{page.url}}">{{ page.title }}</a>
													</li>
													{{/each}}
												</ul>
											</div>
									</li>
								{{/if}}
						{{/each}}

					</ul>
				</div>
			</div>
			<div class="sidebar-footer">
				Keep learning...
			</div>
		</nav>
		<main class="page-content">
			{{{ body }}}
		</main>
	</div>



	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous">
	</script>
	<script src="js/script.js"></script>

</body>
</html>